RewriteEngine On
RewriteBase /kalkuli
RewriteRule ^install$ install.php
#RewriteRule ^([a-z0-9]+)$ sheet.php?accessKey=$1
RewriteRule ^operation/add$ operation-add.php
RewriteRule ^operation/list$ operations.php
RewriteRule ^operation/([0-9]+)$ operation-details.php?operationId=$1&$3
RewriteRule ^person/add$ people-add.php
RewriteRule ^person/([0-9]+)$ person-details.php?personId=$1
