
/*
 * Copyright 2006-2011 Florent Paillard
 * 
 * This file is part of /kal.'ku.li/.
 * 
 * /kal.'ku.li/ is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * /kal.'ku.li/ is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with /kal.'ku.li/.  If not, see <http://www.gnu.org/licenses/>.
 * 
 */

body {
	font-family: Verdana, "Lucida Sans", Arial, Geneva, Helvetica, Helv, "Myriad Web", Syntax, sans-serif;
}

h2 {
	font-size: 1.3em;
	margin-top: 0;
}

span.alternate {
	color: #004276;
	font-weight: bold;
}

input.amount {
	text-align: right;
}

input.weight {
	text-align: right;
}

.formValidationMessage {
	font-style: italic;
	margin-top: .7em;
}

.formValidationMessage .ui-icon {
	float: left;
	margin-right: .3em;
	vertical-align: middle;
}

.buttonsPanel {
	text-align: center;
}

label.ui-input-text, label.ui-select {
	font-weight: bold;
}

label.ui-input-text-inline {
	display: inline-block;
	vertical-align: inherit;
	width: auto;
}

input.ui-input-text-inline, textarea.ui-input-text-inline, .ui-input-search-inline {
	display: inline-block;
}
.ui-li-has-alt .ui-btn-inner {
    padding-right: 60px;
}
.ui-li .ui-btn-inner a.ui-link-inherit .description {
	font-size: 80%;
}
