
.ui-widget-header span.alternate {
	color: #aaaaaa;
}

.ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea {
	font-size:0.9em;
}

/* jQuery UI mobile widgets */

.ui-mobile-widget-header {
	padding: .4em .2em;
	text-align: center;
}

.ui-mobile-widget-separator {
	background: url('../css/jquery-ui/blitzer-custom/images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #cccccc;
	border: 0;
	border-bottom: 1px solid #d8dcdf;
	color: #222222;
	font-weight: bold;
	padding: .4em .2em;
	text-align: center;
}

.ui-mobile-widget-menu {
	background: url('../css/jquery-ui/blitzer-custom/images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #cccccc;
	border: 0;
	border-bottom: 1px solid #d8dcdf;
	color: #222222;
	font-weight: bold;
	padding: 0.8em 0.4em;
}

.ui-mobile-widget-menu a {
	color: #004276;
}

.ui-mobile-widget-buttons {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CDCDCC;
	padding: 0.2em 0.4em;
	text-align: center;
}

.ui-mobile-widget-item {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CDCDCC;
	padding: 0.8em 0.4em;
}

.ui-mobile-widget-item .ui-button .ui-button-text {
	padding: 0;
}

.ui-mobile-widget-item-label {
	font-weight: bold;
}

.ui-mobile-widget-item-field {
	float: right;
	padding-left: .5em;
	text-align: right;
}

.ui-mobile-widget-item-description {
	color: #555555;
	font-size: 0.8em;
}

.ui-dialog-button-row {
	padding: 1.4em;
	text-align: center;
}
