
/*
 * Copyright 2006-2011 Florent Paillard
 * 
 * This file is part of /kal.'ku.li/.
 * 
 * /kal.'ku.li/ is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * /kal.'ku.li/ is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with /kal.'ku.li/.  If not, see <http://www.gnu.org/licenses/>.
 * 
 */

body {
	background-color: #ffffff;
	color: black;
	font: .8em "Trebuchet MS",sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	color: #333333;
	font-size: 1.5em;
	margin-top: 1.5em;
}

h2 {
	font-size: 1.3em;
	text-align: center;
}

p {
	text-align: justify;
}

select {
	padding: 2px;
}

table {
	border: 0;
}

table.dataGrid {
	width: 100%;
}

table.dataGrid tr.alternate {
	background-color: #e0e0e0;
}

table.dataGrid td {
	padding: .3em 0.6em;
}

table.dataGrid td.amount {
	text-align: right;
}

table.dataGrid td.weight {
	text-align: right;
}

table.dataGrid .ui-button .ui-button-text {
	padding: 0;
}

table.tableForm {
	margin-left: auto;
	margin-right: auto;
}

table.tableForm tr.buttonRow td {
	padding-top: 1.4em;
	text-align:center;
}

table.tableForm th {
	padding: .3em .6em;
	text-align: right;
}

table.tableForm td {
	padding: .3em 0.6em;
}

a, .ui-widget-content a, a:visited {
	color: #004276;
	font-weight: bold;
}

a:hover, a:active {
	text-decoration: none;
}

div.actions a {
	display: block;
	margin: .5em 0;
}

img {
	border: 0;
}

span.alternate {
	color: #333333;
	font-weight: bold;
}

.ui-widget-header span.alternate {
	color: #aaaaaa;
}

.navigation {
	padding: .5em;
	text-align: center;
}

input.sheetName {
	width: 15em;
}

input.creatorEmail {
	width: 15em;
}

input.retrieveEmail {
	width: 15em;
}

select.currencyCode {
	width: 15em;
}

input.name {
	width: 15em;
}

input.amount {
	text-align: right;
	width: 4em;
}

input.date {
	text-align: right;
	width: 6em;
}

input.description {
	width: 15em;
}

input.participantName {
	width: 25em;
}

input.weight {
	text-align: right;
	width: 3em;
}

.ui-main-widget {
	margin: 1.5em 0;
	padding: 0.2em;
	width: 100%;
}

.ui-main-widget-header {
	line-height: 1.8em;
	margin-bottom: .2em;
	padding: .2em .5em;
}

.ui-main-widget-separator {
	background: url('../css/jquery-ui/blitzer-custom/images/ui-bg_highlight-soft_75_cccccc_1x100.png') repeat-x scroll 50% 50% #cccccc;
	border: 1px solid #d8dcdf;
	color: #222222;
	font-weight: bold;
	line-height: 1.8em;
	margin-bottom: .2em;
	padding: .2em .5em;
}

.ui-main-widget-section {
	margin-bottom: 1em;
}

.ui-main-widget-content {
	margin: 1em;
}

.buttons {
	margin: 1em;
	text-align: center;
}

.formValidationMessage {
	font-style: italic;
}

.formValidationMessage .ui-icon {
	float: left;
	margin-right: .3em;
	margin-top: 1px;
	vertical-align: middle;
}

#menu {
	border: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	border: 0;
	cursor: pointer;
	float: left;
	line-height: 3em;
	margin: 0;
	padding: 0 1em;
}

#testsStamp {
	float: left;
	margin-left: 1.5em;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 45em;
}

.ui-dialog-button-row {
	padding: 1.4em;
	text-align: center;
}

.bargraph {
	border: 1px solid #cccccc;
	font-size: .6em;
	margin: 0 auto;
	width: 50px
}

.bargraph .negativeBar {
	background-color: #e50000;
	border-right: 1px solid #cccccc;
	float: left;
}

.bargraph .positiveBar {
	background-color: green;
	border-left: 1px solid #cccccc;
	float: right;
}

.bargraph .emptyBar {
	background-color: #cccccc;
	margin: 0 auto;
	width:1px;
}
